.contact{
    padding: rem(60) 0 0 0;
    @include mq(md) {
    max-width: 1600px;
    padding: rem(130) 0 0 0;
    }
    &__body{
      padding: rem(30) 0 rem(60) 0;
      display: block;
      @include mq(md) {
      padding: rem(143) 0 rem(145) 0;
      display: flex;
     }
    }
    &__img {
      width: 100%;
      @include mq(md) {
      width: 35.131%;
      }
    }
    &__area {
      width: 100%;
      margin-top: rem(34);
      margin-left: 0;
      @include mq(md) {
      width: 43.45%;
      margin-left: 168px;
      margin-top: 0;
      }
    }
  }
