// 透過度
$opacity: 0.5;
$hover-opacity: 0.8;

//汎用色//
$color-primary: #F8F6F4;
$color-primary-dark: #F2EDE9;
$color-secondary: #BEA42E;
$color-btn: #037367;
$color-text: #00281f;
$color-gray: #f0f0f0;
$color-line: #7BD4CC;