.frame-inner {
  max-width: rem(1440);
  padding: 0 rem(20);
  @include mq(md) {
    padding: 0 0 0 rem(105);
    max-width: rem(1440);
  }
  &--sm {
    max-width: rem(1064);
  }
  &--xl {
    @include mq(md) {
    max-width:rem(1250);
   }
  }
}